<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/138980/jquery.keyframes.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js" integrity="sha512-p7Ey2nBhKYEi9yh0iDs+GMA0ttebOqVl3OO2oWRzRxtDoN/RedyYcHFUJZhMVi8NKRdEA7n+9NTNQX/kFIZgNw==" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/css/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/main.css">
    <title>Gamble Rumble</title>
</head>
<body>
  <h1 class="title">Gamble Rumble!</h1>
  <h1 class="win"></h1>
      <div class="spinner">
        <div class="ball"><span></span></div>
        <div class="platebg"></div>
        <div class="platetop"></div>
        <div id="toppart" class="topnodebox">
          <div class="silvernode"></div>
          <div class="topnode silverbg"></div>
          <span class="top silverbg"></span>
          <span class="right silverbg"></span>
          <span class="down silverbg"></span>
          <span class="left silverbg"></span>
        </div>
        <div id="rcircle" class="pieContainer">
          <div class="pieBackground"></div>
        </div>
      </div>
      
      <div class="control">
        <!-- <span class="message">
        Number Stop: <input id="numwin" type="text" value=" "> Leave blank for random<br><br>
        </span> -->
        <div>
          <div id="btnSpin" class="button">Spin</div>
          <div id="btnb" class="button">Bigger</div>
          <div id="btns" class="button">Smaller</div>
        </div>
      </div>
      
    <script src="js/main.js"></script>
</body>
</html>